<h1>Let's look at this post up close</h1>
<hr>
<h2><%= @post.title %></h2>
<p><%= @post.body %></p>

<p><%= link_to "Edit Post", edit_post_path(@post) %></p>
<p><%= link_to "Delete Post", post_path(@post), method: :delete %></p>

<p><%= link_to "Home", posts_path %></p>